.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem;
  background-color: #000000;
  opacity: 0.8;
}

.logo {
  width: 13rem;
}

.links {
  display: flex;
  flex-grow: 1;
  padding: 0 3rem 0 3rem;

  .link {
    padding: 1rem;
    color: #ffffff;
    display: inline-block;
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 3px;
      background-color: #f4a460;
      transform: scale(0, 1);
      transform-origin: center;
      transition: transform .3s;
    }

    &:hover {
      &::after {
        transform: scale(1, 1);
      }
    }
  }
}

.login {
  padding: 0 4rem;
}

.start_button {
  cursor: pointer;
  padding: 0.5rem 1rem;

  color: #ffffff;
  border-radius: 2rem;
  border: 1px solid #ffffff;
  background-color: #000000;

  &:hover {
    color: #000000;
    background: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .links {
    flex-grow: 0;
    padding: 0;
  }

  .login {
    padding: 0;
  }
}
