.outer {
  padding: 1rem 1.5rem;
  // ポップアップが表示されなくなる
  // overflow: hidden;
}

.messageBox {
  display: flex;
  background-color: #ffffff;
  border-radius: 1rem;
  align-items: flex-end;
}

.textarea {
  padding: 0.6rem 0.5rem;
  width: 100%;
}
