.Modal {
  position: absolute;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  border-top: 5rem;
  background-color: #ff00ff;
  border-radius: 1rem;
  padding: 1.5rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffc266;
}
