.userStatus {
  display: flex;
  height: 56px;
  background-color: #ffc266;

  .userIcon {
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;
  }
  .userName {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .settingButton {
    margin-top: auto;
    margin-bottom: auto;
  }
}
