.accordion_one {
  width: 320px;
  margin: 5px 0;
}

.accordion_header {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #FFBBFF;
  height: 48px;

  color: #747474;
  font-weight: bold;
  font-size: 16px;

  position: relative;
  z-index: +1;
  transition-duration: 0.2s;

  &.open {
    border-radius: 5px 5px 0 0;
  }
}

.i_box {
  position: relative;
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.one {
  position: absolute;
  width: 19px;
  height: 3px;
  left: 2px;
  top: 9px;

  background: #747474;
  border-radius: 3px;
}

.two {
  position: absolute;
  width: 19px;
  height: 3px;
  left: 0;
  top: 20px;

  background: #747474;
  border-radius: 3px;
}

.three {
  position: absolute;
  width: 27.89px;
  height: 3px;
  left: -6.99px;
  top: 14.38px;

  background: #747474;
  border-radius: 3px;
  transform: rotate(-75.47deg);
}

.four {
  position: absolute;
  width: 27.89px;
  height: 3px;
  left: 0.51px;
  top: 14.38px;

  background: #747474;
  border-radius: 3px;
  transform: rotate(-75.47deg);
}


.accordion_inner {
  border-radius: 0 0 5px 5px;

  background-color: #FFBBFF;
  color: #747474;
  box-sizing: border-box;
  overflow: hidden;
}

.box_one {
  padding: 30px;
}

.txt_a_ac {
  margin: 0;
}
