.member {
    display: flex;
    width: 240px;
    padding: 5px;

    .avatar {
        width: 45px;
        height: 45px;
        border-radius: 25px;
    }

    .name {
        margin: auto 3px auto 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bot_name {
        margin: auto 0 auto 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bot {
        margin: auto 0 auto 5px;
        font-size: 70%;
        color: #ffffff;
        background-color: navy;
        padding: 3px 5px;
        border-radius: 3px;
    }
}
