/*画像と合わせています*/
$back-color: #666666;

.index_page {
  background-color: $back-color;
}

.top {
  position: relative;
  text-align: center;
  font-size: 200%;

  height: 100vh;

  .logo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    position: absolute;
    text-align: left;
    z-index: 1;
    top: 10rem;
    left: 20rem;

    color: #ffc266;
  }
}

.overview {
  min-height: 35vh;
  padding: 0 0 5vh 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 120%;
  color: #ffffff;

  .detail {
    font-size: 90%;
  }

  .overview_image {
    .icon{
      padding: 2rem;
      fill: #ffffff;
    }
  }
}

.overview_left {
  background-color: #000000;
  flex-direction: row;
}

.overview_right {
  background-color: #1e1e1e;
  flex-direction: row-reverse;
}

@for $i from 1 through 5 {
  .title_#{$i} {
    background: -webkit-linear-gradient(random(360) + deg, #ff0000, #ffa500, #ffff00);
    opacity: 0.8;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.start {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  .start_title {
    padding-bottom: 2rem;

    color: #ffffff;
  }

  .start_button {
    cursor:pointer;
    padding: 0.8rem 2rem;

    color: #000000;
    border-radius: 2rem;
    border: 3px solid #000000;
    background-color: #ffffff;

    &:hover {
      color: #ffffff;
      background-color: #000000;
    }
  }
}

@media screen and (max-width: 1000px) {

  .overview {
    font-size: 100%;
  }

  .overview_left, .overview_right {
    flex-direction: column;
  }

  .not_pc {
    display: block;
    padding-bottom: 1rem;

    text-align: center;
    color: #ff0000;
  }
}

@media screen and (max-width: 600px) {

  .overview {
    font-size: 80%;
    padding: 0 5vw 5vh 5vw;
  }

  .overview_left, .overview_right {
    flex-direction: column;
  }

  .start {
    font-size: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
