@use "../color.variable";

.loading {
  @include color.background(menubar);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.logo {
  height: 5rem;
  width: 5rem;

  background-color: #ffffff;
}
