@use "sass:map";

@mixin back($type) {
  $back: (
    messages: #ffebcc,
    menubar: #ffcb7c,
    sidebar: #ffc266,
  );

  $hover-back: (
    messages: #ffdca8,
    menubar: #ffdb99,
    sidebar: #ffc266,
  );

  background-color: map.get($back, $type);

  &:hover {
    background-color: map.get($hover-back, $type);
  }
}

@mixin background($type) {
  $back: (
    messages: #ffebcc,
    menubar: #ffcb7c,
    sidebar: #ffc266,
  );

  background-color: map.get($back, $type);

  &:hover {
    background-color: map.get($back, $type);
  }
}
