.namebar {
  height: 100%;
  width: 100%;
  padding-left: 1rem;

  display: flex;
  align-items: center;

  user-select: none;

  .sharp {
    display: flex;
    align-items: center;
    opacity: 0.7;

    width: 1.5rem;
    height: 1.5rem;
  }

  .channelName {
    display: flex;
    align-items: center;

    padding-left: 0.5rem;
  }
}

.warning {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-left: 2rem;
  padding: 0.5rem;

  color: red;
  background-color: yellow;
}
