.channel {
  cursor: pointer;
  width: 240px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #FFDCA8;
  height: 48px;

  color: #747474;
  font-weight: bold;
  font-size: 16px;

  position: relative;
  z-index: +1;
  transition-duration: 0.2s;

  &:hover {
    opacity: 80%;
  }

  &.selected {
    background-color: #ffd299;
    border-radius: 5px 0 0 5px;
  }
}

.sharp {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.one {
  position: absolute;
  width: 19px;
  height: 3px;
  left: 2px;
  top: 9px;

  background: #747474;
  border-radius: 3px;
}

.two {
  position: absolute;
  width: 19px;
  height: 3px;
  left: 0;
  top: 20px;

  background: #747474;
  border-radius: 3px;
}

.three {
  position: absolute;
  width: 27.89px;
  height: 3px;
  left: -6.99px;
  top: 14.38px;

  background: #747474;
  border-radius: 3px;
  transform: rotate(-75.47deg);
}

.four {
  position: absolute;
  width: 27.89px;
  height: 3px;
  left: 0.51px;
  top: 14.38px;

  background: #747474;
  border-radius: 3px;
  transform: rotate(-75.47deg);
}


.category {
  cursor: pointer;
  width: 240px;
  height: 24px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.category_name {
  margin: 0 20px;
  font-size: 16px;
}
