@use "../../color.variable";
$side_margin: 0.5rem;

.member_box {
  position: relative;
}

.member {
  @include color.back(menubar);
  cursor: pointer;

  display: flex;
  align-items: center;

  margin: 0.25rem $side_margin;
  padding: 0.25rem;
  height: 3rem;
  width: calc(100% - (2 * #{$side_margin}));

  border-radius: 0.5rem;

  .avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 24px;
  }

  .name {
    margin: auto 3px auto 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }

  .bot_name {
    margin: auto 0 auto 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
  }

  .bot {
    margin: auto 0 auto 5px;
    font-size: 14px;
    color: #ffffff;
    background-color: navy;
    padding: 3px 5px;
    border-radius: 3px;
  }
}

.memberpopup {
  position: absolute;
  z-index: 1;
  top: 0;

  transform: scale(0);
  transition: transform 0.2s;

  &.show {
    transform: translateX(-105%);
  }
}
