@use "../../color.variable";

.memberpopup {
  @include color.background(sidebar);

  width: 15rem;
  height: 20rem;

  padding: 1rem;
  border-radius: 0.25rem;

  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
  }

  .name {
    color: #ffffff;
    font-weight: bold;
  }

  .bot {
    margin: auto 0 auto 5px;
    font-size: 70%;
    color: #ffffff;
    background-color: navy;
    padding: 3px 5px;
    border-radius: 3px;
  }
}
