.servericon {
  position: relative;
}

.icon {
  height: 3rem;
  width: 3rem;
  margin: 0.25rem 0;
  border-radius: 1.5rem;

  &:hover {
    border-radius: 0.75rem;

    +.name {
      display: block;
    }
  }
}

.name {
  position: absolute;
  display: none;
  z-index: 1;
  left: 120%;
  top: 0;

  height: auto;
  width: auto;
  padding: 1rem;
  border-radius: 1rem;

  background-color: #262626;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
